Source: lliurex-rsyslog-filters
Section: admin
Priority: optional
Maintainer: M.Angel <m.angel.juan@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: lliurex-rsyslog-filters
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Add some filters to rsyslog
 Add some filters to rsyslog
